{{#each this}}
<div class="client-slider {{alias}}">
    {{alias}}
    {{!-- <div class="client-slider__slide">
        <img class="client-slider__picture"
            src="https://raw.githubusercontent.com/vbd4eva/bishen/main/images/clients/{{alias}}/01-slide.jpg" alt="" />
        <p class="client-slider__textarea">01-slide</p>
    </div> --}}
</div>
{{/each}}