/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/

html, body, ul, ol, p, h1{	
	margin: 0;
	padding: 0;}

address{
    font-style: normal;
}

body{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
    font-weight: 400;
	}

a{
    color: #ffffff;
    text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

    .mainWrapper{
        position: relative;
        
        height: 100vh;
        min-height: 480px;

		background: url("./img/indexBackground.jpg") no-repeat center;
		background-size: cover;		
	}

    .page{
		color: #fff;
		text-shadow: #000 1px 1px 5px;
	}

    .logo{
		position: absolute;
		top: 22px;
		right: 22px;
        transition: 500ms;
	}


/* Contacts */	
    .contacts{
		position: absolute;
		bottom: 52px;
		left: 52px;
	}

    .contacts__decore{
		color: #3fc1c0;
	}

/* What We Do List */
    .doIt{
		position: absolute;
		top: 52px;
		left: 52px;
		margin-left: 19px;
		text-transform: uppercase;
        transition: transform 250ms linear;
	}
	
/* Corners */
	.downLeftCorner{
		background: url(./img/Corners.gif) no-repeat left;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 22px;
		left: 22px;
	}

	.topLeftCorner{
		background: url(./img/Corners.gif) no-repeat center;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 22px;
		left: 22px;
	}

	.downRightCorner{
		background: url(./img/Corners.gif) no-repeat right;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 22px;
		right: 22px;
	}

	/* @media */
@media only screen and (max-width: 480px) {
	.logo{
        right: 50%;
        transform: translateX(50%);
	}
    
    .doIt{
        transform: translateY(75px);
    }
}

@media only screen and (orientation: portrait) {
	.page{
/*		font-size: 200%;*/
	}
}


.motion0, .motion1{  
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
    min-height: 480px;	
	height: inherit;
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: opacity 3s;}
.opacity{opacity: 0;}
.motion0{}
.motion1{}		