<address class="company-info__contacts js-address" data-contacts>
  <div class="phoneNumbers">
    <a itemprop="telephone" class="contacts__telephone" href="tel:+380960171763"
      >(096) 017 17 63</a
    >

    <span class="contacts__decore">·</span>

    <a itemprop="telephone" class="contacts__telephone" href="tel:+380443380937"
      >(093) 715-37-07</a
    >
  </div>

  <span class="contacts__decore">|</span>

  <div itemprop="email" class="company-info__email">irina@bishen.com.ua</div>

  <div
    itemprop="address"
    itemscope=""
    itemtype="http://schema.org/PostalAddress"
    class="company-info__adress"
  >
    <span itemprop="streetAddress">вул. Сім'ї Хохлових, 15</span>,

    <span itemprop="addressLocality">Київ</span>,

    <span itemprop="addressCountry">Україна</span>
  </div>
</address>
