<div
  class="company-info"
  itemscope=""
  itemtype="http://schema.org/Organization"
>
  <include src="./partials/logo.html"></include>

  <h1 class="company-info__title" itemprop="legalName">
    TOB "Бишен Принт Продакшн"
  </h1>

  <address class="company-info__contacts">
    <div class="phoneNumbers">
      <a
        itemprop="telephone"
        class="contacts__telephone"
        href="tel:+380960171763"
        >(096) 017 17 63</a
      >

      <span class="contacts__decore">·</span>

      <a
        itemprop="telephone"
        class="contacts__telephone"
        href="tel:+380443380937"
        >(044) 338-09-37</a
      >
    </div>

    <span class="contacts__decore">|</span>

    <div itemprop="email" class="company-info__email">irina@bishen.com.ua</div>

    <div
      itemprop="address"
      itemscope=""
      itemtype="http://schema.org/PostalAddress"
      class="company-info__adress"
    >
      <span itemprop="streetAddress">ул. Семьи Хохловых, 15</span>,

      <span itemprop="addressLocality">Киев</span>,

      <span itemprop="addressCountry">Украина</span>
    </div>
  </address>
</div>
