<div
  class="company-info"
  itemscope=""
  itemtype="http://schema.org/Organization"
>
  <!-- <include src="./partials/logo.html"></include> -->
  <img
    class="company-info__logo"
    src="./img/Bishen_logo.png"
    alt="Bishen логотип"
  />

  <h1 class="company-info__title">
    <span itemprop="legalName">TOB "Бішен Прінт Продакшн"</span>, - офіціна
    сторінка підприємства.
  </h1>

  <button
    class="btn btn--standart-circle company-info__contacts-togge-btn"
    aria-label="перемикач інформаційного блоку"
    data-contacts-button
  >
    <svg width="40px" height="40px">
      <use
        class="contacts__icon--close"
        href="./img/svg-images.svg#arrow-in-circle"
      ></use>
      <use
        class="contacts__icon--open"
        href="./img/svg-images.svg#information-icon"
      ></use>
    </svg>
  </button>

  <address class="company-info__contacts js-address" data-contacts></address>
</div>
