
<!-- <header class="header js-header">

    <include src="./partials/company-info.html"></include>

</header> -->



    <header class="header js-header">
    
        <div class="header__contacts">

            <button class="header__toggle-btn" type="button" aria-controls="contacts-mobile-container" aria-expanded="false"
                data-contacts-button="">
                <svg width="40px" height="40px" aria-label="переключатель информационного блока">
                    <use class="icon-open" href="./images/theme/svg-images.svg#iconmonstr-info-3"></use>
                    <use class="icon-close" href="./images/theme/svg-images.svg#iconmonstr-info-4"></use>
                </svg>
            </button>

            <div class="header__toggle-container is-open" data-contacts="">

                <include src="./partials/company-info.html"></include>
            </div>

        </div>
        <!-- <div class="header__menu">
            <button class="header__toggle-btn" type="button" aria-controls="menu-mobile-container" aria-expanded="false"
                data-menu-button="">
                <svg width="40px" height="40px" aria-label="переключатель информационного блока">
                    <use class="icon-open" href="./images/theme/svg-images.svg#iconmonstr-menu-5"></use>
                    <use class="icon-close" href="./images/theme/svg-images.svg#iconmonstr-menu-6"></use>
                </svg>
            </button>
            <div class="header__toggle-container" data-menu="">
                <div class="clients-in-slider-menu">
                    <ul class="clients-in-slider-menu__list">
                        <li class="clients-in-slider-menu__item"><a href="#vino-e-cucina"
                                class="menu-close clients-in-slider-menu__link">vino-e-cucina</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#kiev-food-market"
                                class="menu-close clients-in-slider-menu__link">kiev-food-market</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#envelopes"
                                class="menu-close clients-in-slider-menu__link">envelopes</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#keller"
                                class="menu-close clients-in-slider-menu__link">keller</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#bistro-pekarya"
                                class="menu-close clients-in-slider-menu__link">bistro-pekarya</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#atlas"
                                class="menu-close clients-in-slider-menu__link">atlas</a></li>
                        <li class="clients-in-slider-menu__item"><a href="#saperavi"
                                class="menu-close clients-in-slider-menu__link">saperavi</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    
    </header>