<div class="client-slider__slide">
  <img
    class="client-slider__picture"
    alt=""
    src="https://bishen.com.ua/data/images/clients/test/0-test-320-mobile.jpg"
    srcset="
      https://bishen.com.ua/data/images/clients/test/0-test-320-mobile.jpg    320w,
      https://bishen.com.ua/data/images/clients/test/0-test-768-tablet.jpg    768w,
      https://bishen.com.ua/data/images/clients/test/0-test-1280-desktop.jpg 1280w,
      https://bishen.com.ua/data/images/clients/test/0-test-1920-full.jpg    1920w,
      https://bishen.com.ua/data/images/clients/test/0-test-2560-basic.jpg   2560w
    "
    sizes="(max-width: 767px) 100vw, (max-width: 1279px) 100vw, (max-width: 1919px) 100vw, (min-width: 1920px) 100vw"
    loading=" lazy"
  />
</div>
