.company-info {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  
  @media screen and (min-width: 260px) {
    flex-direction: row-reverse;
    justify-content: space-between;
     align-items: top;
} 

  padding: 25px 50px;
  color: var(--color-pale);
  // --company-info--pading: 22px;

  // //
  // position: relative;

  // width: inherit;
  // height: inherit;

  // padding: var(--company-info--pading);

  //

  &__logo {
    // position: absolute;
    width: 160px;
    // position: absolute;
    // top: var(--company-info--pading);
    // right: var(--company-info--pading);
    // transition: 500ms;
  }

  &__title, &__adress {
display: none;

  }

  &__contacts {

    padding-top: 25px;
    text-align: center;



    html.js &.is-open{
      display: block;
      text-align: end;
    }

 @media screen and (max-width: 540px){
       html.js &{
         display: none;
       }
 }
 
    @media screen and (min-width: 541px){
        padding-top: 0;
text-align: start;
     }


    &-togge-btn{

    
      display: block;
     @media screen and (min-width: 540px){
       html.js &{
         display: none;
       }
     }
    }
    // position: absolute;
    // bottom: 52px;
    // left: 52px;

    // line-height: 1.5em;
  }
}

.contacts__decore {
  color: var(--color-pale);
}

.contacts__telephone {
  color: inherit;
  white-space: nowrap;
}

//
// .downLeftCorner {
//   background: url(../images/theme/Corners.gif) no-repeat left;
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   bottom: var(--company-info--pading);
//   left: var(--company-info--pading);
// }
// .topLeftCorner {
//   background: url(../images/theme/Corners.gif) no-repeat center;
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   top: var(--company-info--pading);
//   left: var(--company-info--pading);
// }
// .downRightCorner {
//   background: url(../images/theme/Corners.gif) no-repeat right;
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   bottom: var(--company-info--pading);
//   right: var(--company-info--pading);
// }
